
body{
  background-color:#484444;
}
.container{
  width:100%;
  margin-left: 15%;
  padding-top: 20px;
  padding-bottom: 20px;
  color: white;
} 
.padd{
  padding: 15px;;
}.search-field{
  width: 90%;
  height: 40px;
  font-size: 18px;
  border-radius: 10px;
  border: 1px solid white;
  outline: none;
  text-indent: 20px;
  background-color:#484444;
  color: white;
}
.movie{
  padding: 5px;
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}

.poster{
  height: 600px;
  width: 33%;

 overflow: hidden;
}
.details{
  width: 65%;
 
}
.img1{
  height: 100%;

}
h1 h2 h3 {
  margin: 0px;
}
.ratings{
  display: flex;
}
.ratings >div{
  margin-right: 20px;
}
.input-group{
  display: flex;
  margin-top: 20px;
  justify-content: space-around;
}
.btn{
  width: 15%;
  background-color:#2929a9;
  color: white;
  font-size: 20px;
  cursor: pointer;
  border-radius: 10px;
  border: none;
  outline: none;
}

